<div class="header-tab" id="app_header">
	<div class="Swipe-tab Swipe-tab_2 f-cb">
		<a href="javascript:" v-on:click="tabSwitch(0)" class="{{ tab_1_class}}"></a><!--从兼容性角度看，避免页面发生跳转问题-->
		<a href="javascript:" v-on:click="tabSwitch(1)" class="{{ tab_2_class }}"></a>
		<i style="width: {{ index_header_tab_width }}px; transition-duration: {{ header_duration  }}s;transform: translate3d({{ header_position }}px, 0px, 0px);"></i>
	</div>
	<!-- <a href=""> -->
	<a class="header-user" href="/sign"></a>
	<!-- </a> -->
	<!-- <a href=""> -->
	<a class="header-checkin" href="/checkin"></a>
	<!-- </a> -->
</div>