<section class="banner-h5">
	<div class="channel-h5_header">
		<p class="channel-h5_title channel-group_title_left">
			精选专题 <i>热</i>
		</p>
	</div>
	<ul class="banner-h5_list">
		<div>
			<li>
				<div class="banner-h5_cover">
					<img class="cover" src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01cjtwdtMY9/vOmsMitEMiFJmW.jpg"></div>
			</li>
			<li>
				<div class="banner-h5_cover">
					<img class="cover" src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01cjtwdtMY9/vOmsMitEMiFJmW.jpg"></div>
			</li>
		</div>
	</ul>
	<div class="channel-h5_footer">
		<a class="btn-h5_more">更多精彩专题&gt;&gt;</a>
	</div>
</section>