<section class="channel-group">
	<div class="channel-group_header">
		<h2 class="channel-group_title">限时免费</h2>
	</div>
	<ul class="book-table">
		<li>
			<div class="u-book">
				<div class="book-cover">
					<img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01Ll8AAA8xk/7j0YGW12jQeGyh.jpg!s" />
					<div class="u-tagRT -freefiction"></div>
				</div>
				<div class="info">
				    <h3 class="title">书籍名称</h3>
				</div>
			</div>
		</li>
		<li>
			<div class="u-book">
				<div class="book-cover">
					<img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01Ll8AAA8xk/7j0YGW12jQeGyh.jpg!s" />
					<div class="u-tagRT -freefiction"></div>
				</div>
				<div class="info">
				    <h3 class="title">书籍名称</h3>
				</div>
			</div>
		</li>
		<li>
			<div class="u-book">
				<div class="book-cover">
					<img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01Ll8AAA8xk/7j0YGW12jQeGyh.jpg!s" />
					<div class="u-tagRT -freefiction"></div>
				</div>
				<div class="info">
				    <h3 class="title">书籍名称</h3>
				</div>
			</div>
		</li>
	</ul>
	<a class="channel-group_footer" href="/free">更多限免佳作&gt;&gt;</a>
</section>