<section class="channel-h5">
	<div class="channel-h5_header">
		<p class="channel-h5_title">
		    女生最爱
		</p>
	</div>
	<div>
		<div>
			<ul class="list-h5">
				<li>
					<div class="book-h5">
						<div class="book-h5_cover">
							<img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01RMLeQBFAT/M7zKia3xLuW3DU.jpg!s">
							<p class="book-h5_finish">完结</p>
						</div>
						<div class="book-h5_info">
							<p class="book-h5_title">书名</p>
							<p class="book-h5_author">作者</p>
							<p class="book-h5_summary">简介</p>
							<div class="book-h5_wrap"><!--包裹层用于控制-->
								<div class="book-h5_tag">标签</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="book-h5">
						<div class="book-h5_cover">
							<img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01RMLeQBFAT/M7zKia3xLuW3DU.jpg!s">
							<p class="book-h5_finish">完结</p>
						</div>
						<div class="book-h5_info">
							<p class="book-h5_title">书名</p>
							<p class="book-h5_author">作者</p>
							<p class="book-h5_summary">简介</p>
							<div class="book-h5_wrap"><!--包裹层用于控制-->
								<div class="book-h5_tag">标签</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="channel-h5_footer_next">
			<a href="javascript:">换一换</a>
			<a href="/male">女生频道</a>
		</div>
	</div>
</section>