    <section class="top-home">
    	<a href="/search">
    		<div class="top-home_search">输入书名/作者/关键字</div>
    	</a>
        <div class="slider-banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="http://dushu.xiaomi.com/#page=channel&id=410">
                            <img class="cover" src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01tBqnupVze/qayTXiXrMm1lVm.jpg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <img class="cover" src="http://t1.market.xiaomi.com/thumbnail/jpeg/l640/Duokan/022eeb499c82646e623567bba76a8b21ff699f9b9?">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <img class="cover" src="http://t1.market.xiaomi.com/thumbnail/jpeg/l640/Duokan/0c2eeb499c85646e42356abba72a8b25ff697f9b9?">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    	<!-- <div class="slider-banner">
    		<div>
    			<a href="http://dushu.xiaomi.com/#page=channel&id=410">
    				<img class="cover" src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01tBqnupVze/qayTXiXrMm1lVm.jpg" />
    			</a>
                <a href="">
                    <img class="cover" src="http://t1.market.xiaomi.com/thumbnail/jpeg/l640/Duokan/022eeb499c82646e623567bba76a8b21ff699f9b9?">
                </a>
                <a href="">
                    <img class="cover" src="http://t1.market.xiaomi.com/thumbnail/jpeg/l640/Duokan/0c2eeb499c85646e42356abba72a8b25ff697f9b9?">
                </a>
    		</div>
    	</div> -->


    	<ul class="top-home_btn">
    		<li>
    			<a href="/male">
    				<img class="top-home_icon" src="/static/img/male.png">
    				<p class="top-home_desc">男生</p>
    			</a>
    		</li>
    		<li>
    			<a href="/female">
    				<img class="top-home_icon" src="/static/img/female.png">
    				<p class="top-home_desc">女生</p>
    			</a>
    		</li>
    		<li>
    			<a href="/category">
    				<img class="top-home_icon" src="/static/img/category.png">
    				<p class="top-home_desc">分类</p>
    			</a>
    		</li>
    		<li>
    			<a href="/rank">
    				<img class="top-home_icon" src="/static/img/rank.png">
    				<p class="top-home_desc">排行</p>
    			</a>
    		</li>
    	</ul>
    </section>
    