<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/all.css">
    <title>书籍详情</title>

</head>
<body>
<div id="app" style="width:{{screen_width}}px;height:100%;">
    <% include include/common-header.html %>
    <div class="container-scroll" style="width:{{screen_width}}px;">
        <div class="book-page">
            <section class="main-card" style="border-bottom: none;">
                <div class="u-book -detail">
                    <div class="book-cover">
                        <img v-bind:src="item.cover" alt="{{item.title}}">
                    </div>
                    <div class="info">
                        <h3 class="title">{{item.title}}</h3>
                        <p class="author">
                            <span class="author">{{item.authors}}</span>
                        </p>
                        <div class="u-grade">
                            <span class="read">{{item.score_count}}个评价</span>
                        </div>
                        <p class="price">价格：1书币／千字</p>
                        <p class="count">
                            字数：{{item.word_count}}字
                            <span class="u-booktag -serial">连载中</span>
                        </p>
                    </div>
                </div>
            </section>
            <section class="main-card">
                <div class="book-dash">
                    <div class="wrap">
                        <ul class="btn-group">
                            <!--可能有多个按钮-->
                            <li class="u-btn2" v-on:click="readBook();">
                                <span class="book-dash-text">开始阅读</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="u-folder">
                    <div class="folder-cnt">
                        {{item.content}}
                    </div>
                    <div class="folder-tail">
                        <div>最新：{{item.latest}}</div>
                    </div>
                </div>
            </section>
            <section class="main-card">
                <div class="u-folder">
                    <div class="folder-top">
                        <h3>类别标签</h3>
                    </div>
                    <div class="folder-cnt">
                        <ul class="m-tag -color">
                            <li class="u-tag" v-for="tag in item.tags">
                                {{tag}}
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="main-card">
                <div class="u-title">
                    <h1>作者的其他作品</h1>
                </div>
                <div class="cnt">
                    <ul class="book-table">
                        <li v-for="book in author_books">
                            <div class="u-book -vertical">
                                <div class="book-cover">
                                    <img v-bind:src="book.cover" title="{{book.title}}"/>
                                </div>
                                <div class="info">
                                    <h3 class="title">{{book.title}}</h3>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </section>
            <section class="main-card">
                <div class="u-title">
                    <h1>喜欢本书的人也喜欢</h1>
                </div>
                <div class="cnt">
                    <ul class="book-table">
                        <li v-for="book in related">
                            <div class="u-book -vertical">
                                <div class="book-cover">
                                    <img v-bind:src="book.cover" title="{{book.title}}"/>
                                </div>
                                <div class="info">
                                    <h3 class="title">{{book.title}}</h3>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </section>
            <section class="main-card -folder">
                <div class="u-title">
                    <h1>图书信息</h1>
                </div>
                <div class="cnt">
                    <ul class="text">
                        <li>版权：{{ item.rights }}</li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>
</body>
<script src="/static/script/vue.js"></script>
<script src="/static/script/zepto.js"></script>
<script src="/static/script/page/book.js"></script>
</html>