<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/static/css/all.css">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<title>书城首页</title>
    <style type="text/css">
        #root {
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
        .container-wrap{
            height: 100%;
            overflow: hidden;
            position: relative;
        }
        .container-scroll{
            position: absolute;
            top:45px;
            bottom:0px;
            left:0px;
            right: 0px;
            overflow-y:scroll; 
        }
    </style>
</head>
<body>
    <div id="root">
        <div class="container-wrap">
             <% include include/header.html %>
           <div class="container-scroll">
              <% include include/index-top.html%>
              <% include include/index-hot.html%>
              <% include include/index-recommend.html%>
              <% include include/index-female.html%>
              <% include include/index-male.html%>
              <% include include/index-free.html%>
              <% include include/index-bottom.html%>
          </div>
      </div>
  </div>
    
</body>
    <script src="/static/script/vue.js"></script>
	<script src="/static/script/zepto.js"></script>
	<script src="/static/script/page/index.js"></script>
</html>