<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <!--<link rel="stylesheet" href="/static/css/all.css">-->
    <link rel="stylesheet" type="text/css" href="/static/css/swiper.min.css">
    <title>书城首页</title>
    <style>


    </style>
</head>
<body>
<div id="app" :style="{width:screen_width+'px'}" style="overflow: hidden;height:100%;">
    <% include include/header.html %>
    <div class="contain-scroll" style="top:45px;">
        <div :style="{width:double_screen_width+'px',transform: 'translate3d('+position+'px,0px,0px)'}"
             style="transition-duration: .5s;height:100%;">
            <div :style="{width:screen_width+'px'}" style="float:left;">
                <% include include/index-top.html%>
                <% include include/index-hot.html%>
                <% include include/index-recommend.html%>
                <% include include/index-female.html%>
                <% include include/index-male.html%>
                <% include include/index-free.html%>
                <% include include/index-bottom.html%>
            </div>
            <div :style="{width:screen_width+'px'}" style="float:left;">
                <% include include/index-shelf.html %>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/static/script/vue.js"></script>
<script src="/static/script/zepto.js"></script>
<script src="/static/script/swiper.min.js"></script>
<script src="/static/script/page/index.js"></script>

</html>